*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color:#BFD7ED;
    font-family: 'Montserrat', sans-serif;
}
.accordion{
    max-width:40%;
    margin:2% auto;
    cursor: pointer;
}
.accordion-mem{
    width: 0;
    height:0;
}
.mem{
    max-width:55%;
    margin-left: 22%;
    margin-top: 0.3em;
    margin-bottom: 1.5em;
}
.accordion-title{
    color:#60A3D9;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.3em;
    cursor: pointer;
}
.accordion-title:hover + .accordion-mem{
    height:100%;
    width:100%;
    transition: 1.2s;
}
.acc:hover > * .plus{
    opacity:1;
    transition: 1.2s;
}
.accordion-title:hover .plus{
    transform: rotate(45deg);
    opacity:1;
    transition: 1.2s;
}

.plus{
    opacity: 0;
    margin-top: -1.25em;
    margin-left: 95%;   
}
.accordion-title:hover{
    color: #0074B7;
    transition: 1.2s;
}

h2{
    font-size: 2em;
    margin-bottom: 2%;
}

.accordion-item{
    border-bottom: 0.1em solid #0074B7;
    
}
.accordion-input{
    width: 0;
    height:0;
}
.accordion-input:checked ~ .accordion-mem{
    height:100%;
    width:100%;
    transition: 1.2s;
}
.accordion-input:checked ~ .accordion-title{
    color: #0074B7;
    transition: 1.2s;
}
.accordion-input:checked ~ * .plus{
    transform: rotate(45deg);
}
